
/*To leave white space*/
#Introduction { width:800px; margin: 0 auto; }

#FourSections {width:1500px; margin: 0 auto; }

/*Navigation bar*/
.logo img{
    height: 55px;
}

.NavBar {
    background-color:white;
    position: fixed;
    top: 0;
    left: 0;
    right:0;
    height: 65px; 
    display:flex;
    box-shadow: 0 0 5px 0 maroon;
}

.NavBar ul {
    list-style: none;
    text-align: center;
    display: inline-block;
    width: 1000px;
    margin: 0 auto;
}

.NavBar li {
    display:inline-block;
    /*align-items:center;*/
    margin: 20px;
    margin-right: 20px;
}

.NavBar li a {
    color:black;
    text-decoration: none;
    font-family:inherit;
    font-size: large;
}

.NavBar li a:hover {
    text-decoration: underline maroon 25%;
    color:black;
}

/*margin for body at the top*/
body {
    margin: top 80px;
}



#Introduction {
    padding-bottom: 50px;
}

#para1 {
    float:right;
}

#Home1 {
    padding:1cm;
}

#Home2 {
    padding:3cm;
}

#Home3 {
    padding:1cm;
}


#Home1 img{
    float:right
}

#Home2 img{
    float:right;
}

#Home3 img{
    float:right;
}

#Home4 {
    width:1200; margin: 0 auto;
    padding:1cm;
    padding-bottom: 1cm;
    text-align: left;
}

#Home1 h2 {
    color:maroon;
}

#Home2 h2 {
    color:maroon;
}

#Home3 h2 {
    color:maroon;
}

/*responsive img*/
#HomeMainImg {
    max-width: 100%;
    height:auto;
}

@media screen and (max-width:1000px) {
    #FourSections {
        border-radius:10px;
        min-width:260px;
        max-width:1200px;
        width:90%;
        font-size:14px;
    }
    .HomeImg {
        width:100%;
        height:auto;
    }
    #Introduction{
        font-size: 14px;
    }
}

@media screen and (max-width:1300px) {
    #FourSections {
        border-radius:10px;
        min-width:260px;
        max-width:1200px;
        width:90%;
        font-size:25px;
    }
    .HomeImg {
        width:90%;
        font-size:25px;
    }
    #Introduction{
        font-size: 25px;
    }
}





